In [1]:
import pandas as pd
from scipy.io import arff
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
from sklearn import preprocessing
import numpy as np
from sklearn.metrics import confusion_matrix, accuracy_score, recall_score, roc_curve, auc
from sklearn.model_selection import train_test_split
from sklearn.ensemble import (RandomForestClassifier, AdaBoostClassifier, 
                              GradientBoostingClassifier, ExtraTreesClassifier)
from sklearn.model_selection import RandomizedSearchCV
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
import xgboost as xgb
from sklearn import metrics
from sklearn.metrics import mean_squared_error
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls

from Algorithms import knn,dt,lr,rf,svm,nb
from Algorithms import Ant_Colony,Bacterial_Foraging,Bee_Colony,Particle_Swarm

FOLDS =10
%matplotlib inline

## Preprocessing of Dataset

In [2]:
data = 'Dataset/oasis_longitudinal.csv'
df = pd.read_csv (data)
df.head()

,Subject ID,MRI ID,Group,Visit,MR Delay,M/F,Hand,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF
0,OAS2_0001,OAS2_0001_MR1,Nondemented,1,0,M,R,87,14,2.0,27.0,0.0,1987,0.696,0.883
1,OAS2_0001,OAS2_0001_MR2,Nondemented,2,457,M,R,88,14,2.0,30.0,0.0,2004,0.681,0.876
2,OAS2_0002,OAS2_0002_MR1,Demented,1,0,M,R,75,12,NaN,23.0,0.5,1678,0.736,1.046
3,OAS2_0002,OAS2_0002_MR2,Demented,2,560,M,R,76,12,NaN,28.0,0.5,1738,0.713,1.010
4,OAS2_0002,OAS2_0002_MR3,Demented,3,1895,M,R,80,12,NaN,22.0,0.5,1698,0.701,1.034

In [3]:
nu = pd.DataFrame(df['Group']=='Nondemented')
nu["Group"].value_counts()

True     190
False    183
Name: Group, dtype: int64

In [4]:
df['Group'] = df['Group'].replace(['Converted'], ['Demented'])
df.head(3)

,Subject ID,MRI ID,Group,Visit,MR Delay,M/F,Hand,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF
0,OAS2_0001,OAS2_0001_MR1,Nondemented,1,0,M,R,87,14,2.0,27.0,0.0,1987,0.696,0.883
1,OAS2_0001,OAS2_0001_MR2,Nondemented,2,457,M,R,88,14,2.0,30.0,0.0,2004,0.681,0.876
2,OAS2_0002,OAS2_0002_MR1,Demented,1,0,M,R,75,12,NaN,23.0,0.5,1678,0.736,1.046

In [5]:
df.drop(['Subject ID'], axis = 1, inplace = True, errors = 'ignore')
df.drop(['MRI ID'], axis = 1, inplace = True, errors = 'ignore')
df.drop(['Visit'], axis = 1, inplace = True, errors = 'ignore')
#for this study the CDR we eliminated it
#df.drop(['CDR'], axis = 1, inplace = True, errors = 'ignore')
df.head(3)

         Group  MR Delay M/F Hand  Age  EDUC  SES  MMSE  eTIV   nWBV    ASF
0  Nondemented         0   M    R   87    14  2.0  27.0  1987  0.696  0.883
1  Nondemented       457   M    R   88    14  2.0  30.0  2004  0.681  0.876
2     Demented         0   M    R   75    12  NaN  23.0  1678  0.736  1.046

In [6]:
# 1 = Demented, 0 = Nondemented
df['Group'] = df['Group'].replace(['Converted'], ['Demented'])

df['Group'] = df['Group'].replace(['Demented', 'Nondemented'], [1,0])    
df.head(3)

   Group  MR Delay M/F Hand  Age  EDUC  SES  MMSE  eTIV   nWBV    ASF
0      0         0   M    R   87    14  2.0  27.0  1987  0.696  0.883
1      0       457   M    R   88    14  2.0  30.0  2004  0.681  0.876
2      1         0   M    R   75    12  NaN  23.0  1678  0.736  1.046

In [7]:
df['M/F'] = df['M/F'].replace(['M', 'F'], [1,0])  
df.head(3)

   Group  MR Delay  M/F Hand  Age  EDUC  SES  MMSE  eTIV   nWBV    ASF
0      0         0    1    R   87    14  2.0  27.0  1987  0.696  0.883
1      0       457    1    R   88    14  2.0  30.0  2004  0.681  0.876
2      1         0    1    R   75    12  NaN  23.0  1678  0.736  1.046

In [8]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
encoder.fit(df.Hand.values)
list(encoder.classes_)
#Transoformamos
encoder.transform(df.Hand.values)
df[['Hand']]=encoder.transform(df.Hand.values)
encoder2=LabelEncoder()
encoder2.fit(df.Hand.values)
list(encoder2.classes_)

[0]

In [9]:
data_na = (df.isnull().sum() / len(df)) * 100
data_na = data_na.drop(data_na[data_na == 0].index).sort_values(ascending=False)[:30]
missing_data = pd.DataFrame({'Lost proportion (%)' :round(data_na,2)})
missing_data.head(20)

      Lost proportion (%)
SES                  5.09
MMSE                 0.54

In [10]:
from sklearn.impute  import SimpleImputer
# We perform it with the most frequent value 
imputer = SimpleImputer ( missing_values = np.nan,strategy='most_frequent')

imputer.fit(df[['SES']])
df[['SES']] = imputer.fit_transform(df[['SES']])

# We perform it with the median
imputer = SimpleImputer ( missing_values = np.nan,strategy='median')

imputer.fit(df[['MMSE']])
df[['MMSE']] = imputer.fit_transform(df[['MMSE']])

In [11]:
from sklearn.impute  import SimpleImputer
# We perform it with the median
imputer = SimpleImputer ( missing_values = np.nan,strategy='median')

imputer.fit(df[['MMSE']])
df[['MMSE']] = imputer.fit_transform(df[['MMSE']])

In [12]:
from sklearn.preprocessing import StandardScaler
df_norm = df
scaler = StandardScaler()
df_norm[['Age','MR Delay','M/F','Hand','EDUC','SES','MMSE','eTIV','nWBV','ASF']]=scaler.fit_transform(df[['Age','MR Delay','M/F','Hand','EDUC','SES','MMSE','eTIV','nWBV','ASF']])

In [13]:
data_test = df

In [14]:
X = data_test.drop(["Group"],axis=1)
y = data_test["Group"].values
X.head(3)
X  = X.values

In [15]:
# We divide our data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y,random_state = 0)
X_test.shape

(94, 10)

## Using various Machine Learning Algorithms

#### KNN ALgorithm

In [16]:
model_knn , score_knn = knn.get_knn_model(X_train, X_test, y_train, y_test)

#### Logistic Regression

In [17]:
model_lr , score_lr = lr.get_lr_model(X_train, X_test, y_train, y_test)

C:\Users\pradhyumna\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning:

Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.

#### Decision Tree Classifier

In [18]:
model_dt , score_dt = dt.get_dt_model(X_train, X_test, y_train, y_test)

#### Support Vector Machine Classifier

In [19]:
model_svm , score_svm = svm.get_svm_model(X_train, X_test, y_train, y_test)

C:\Users\pradhyumna\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning:

The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.

#### Random Forest

In [20]:
model_rf , score_rf = rf.get_rf_model(X_train, X_test, y_train, y_test)

#### Naive Bayes using Bernaulli Classifier

In [21]:
model_nb , score_nb = nb.get_nb_model(X_train, X_test, y_train, y_test)

## Using Evolutionary Algorithms for feature selection

In [22]:
k=[1 for r in range(len(X[0]))]

max_ant , colo_ant = Ant_Colony.Ant_Colony(k, X_train, X_test, y_train, y_test)